@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');

:root {
    --blue: #334155;
    --light-lime: #abd699;
    --fresh-lemon: #ffe26a;
    --pastel-yellow: #fef9db;
    --teal: #75c9b7;
    --mint: #c7ddcc;
    --navy: #16123f;
    --orange: #eea77a;
    --maroon: #924444;
    --green: #73d673;

    --darkMode-blue1: #2F4F4F; 
    --darkMode-blue2: #7DAFC2;
    --darkMode-green1: #455b54;
    --darkMode-green2: #527e71;
}

::-webkit-scrollbar {
    width: 7px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

* {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

body {
    /* background: linear-gradient(to right, var(--darkMode-blue1),var(--darkMode-blue2) ); */
    background: linear-gradient(to right, var(--light-lime),var(--teal) );
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* animation: fadeInAnimation ease 1s ; */
}

/* Start New Styles Here */

.game-container {
    position: relative;
}

#simCanvas {
    /* background-color: var(--darkMode-green1); */
    background-color: var(--pastel-yellow);

    /* border: 3px solid black; */
    border-radius: 30px
}

.rotate-wrapper {
    width: 600px;
    height: 50px;   
    position: absolute;
    bottom: 40;
    left: 30;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.button {
    height: 70%;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 5px;
}
.button:hover {
    background-color: rgba(0,0,0, .1);
}

.arrow {
    height: 100%;
}

#panelIndicator, #compLabel, #compName {
    text-align: center;
    margin: 5px 0;
}

#left, #right {
    visibility: hidden;
}

.button-wrapper {
    position: absolute;
    top: 20;
    left: 20;
}

.button-wrapper > button {
    height: 2.7rem;
    width: 9rem;
    border: 3px solid black;
    border-radius: 20px;
    margin: 5px
}

.button-wrapper > button:hover {
    background-color: var(--mint);
}

.modal{
    border-radius: 20px;   
    animation: fadeInAnimation ease-in .1s;
    animation-iteration-count: 1 ;

    width: 580px;
    height: 550px;
    /* overflow: auto; */
    border: 3px solid black;
    padding: 20px;
}

.closeBtn {
    cursor: pointer; 
    font-size: 30;
    text-align: center;

    position: absolute;
    right: 10;
    top: 5;
}

.content {
    width: 150px;
    height: 150px;
    /* margin:10px; */
    /* border: solid 1px black; */
    border-radius: 10px;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  
}
.content:hover {
    transform: scale(1.05);
    background: var(--light-lime)
}
.content:active {
    transform: scale(1);
}

.slider {
    width: 100%;
    height: 25%;
    position: absolute;
    top: 100%;
    background-color: #dce9e6;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;

    font-size: small;
    text-align: center;
    transition: transform 0.3s ease-in-out
}
.content:hover .slider {
    transform: translateY(-100%);
}

.modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
}
/* .modal-wrapper > div {
    margin-bottom: 15  ;
} */

#wiresModal {
    display: none;
} 

/* 
/       Wires  [PORTS]
*/
#wiresModal {
    width: 900px;
    height: 600px;
    z-index: 3;
    position: fixed;
    top: calc(50%-600px/2);
    left: calc(50%-900px/2);
    /* background-color: var(--pastel-yellow); */
    background-color: white;

}   
#bodyHeader {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* background-color: #abd699; */
}
#portLeft, #portRight {
    cursor: pointer;

    transition: all .1s ease-in-out;
}

.port-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 50px;
}
#portLeft:hover  {
    transform: translateX(-7px);
}
#portRight:hover  {
    transform: translateX(7px);
}
#portLeft:active, #portRight:active {
    transform: translateX(0);
}
#mainHead {
    font-size: 30px;
}

#portContainer, #portsContainer {
    /* background-color: var(--mint); */
    background-color: var(--pastel-yellow) ;
    width: 880px;
    height: 80%;

    margin-top: 15px;
    border-radius: 20px;

    overflow: auto;
    overflow-x: hidden  ;
}


/* SIngle Port(use single image) */
.length-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* override */
.length-1 > .portCell {
    background-color: var(--mint);
    width: 700px;
    height: auto;

    padding: 20px;
}
.length-1 > .portCell > img {
    width: 100%;
}

/* Multiple Ports(use grid)) */
.length-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: white;

    padding: 10px;
}


/* PORT CELL */
.portCell {
    background-color: var(--mint);
    width: 285px;
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
    border-radius: 20px;

    overflow: hidden;
}

/* PORT IMAGE */
.port {
    max-height: 90%;
    max-width: 90%;
    width: auto;
    height: auto;
}

/* will refer to data component port.offset */
/* PORT HIGHLIGHT */
.port-highlight {
    background-color: rgba(0,255,70, .4);
    position: absolute;

    /* 
    /   adjustables
    */
    /* top: 77;
    left: 69; 

    width: 147px;
    height: 116px;  */
}
.port-highlight:hover{
    cursor: pointer;
}

/*  CABLE ATTACHED TO THE PORT 
*   SCALE will be used by cableReference.js
*   TOP, LEFT will be used by portReference.js
*/
.port-attached {
    position: absolute;
    transform-origin: top left;

    /* 
    /   adjustables
    */
    /* top: -13;
    left: 30;  
    transform: scale(1.27 , 1.1); */
    /* opacity: .7; */ 
}
.port-attached1 {
    position: absolute;
    transform-origin: top left;

    /* 
    /   adjustables
    */
    top: -25;
    left: 112; 
    transform: scale(.92 , .9);
    /* opacity: .7; */ 
}

/* PORT SLIDER FOR LABEL */
.port-slider {
    background-color: var(--teal);
    width: 100%;
    height:  20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20%;
    z-index: 10;

    transition: all .2s ease-in-out;
}
.portCell:hover .port-slider {
    bottom: 0;
}

/* WIRES CABLE DRAWER */
#wiresDrawer {
    /* width: 1300px; */
    width: 80vw;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;

    position: fixed;
    bottom: -226px;

    animation-duration: .5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
}
.pull {
    animation-name: pullUp;
}
.return {
    animation-name: return;
}
#pulley {
    width: 100px;
    height: 70px;
    background-color: var(--pastel-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-bottom: 0px;
    
    border: 3px solid black;
    border-bottom:0 ;
    border-top-left-radius: 100px; 
    border-top-right-radius: 100px; 

    box-shadow: 0 0 10px black;
    transition: all 1s ease-in-out;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}
#pulley:hover {
    cursor: pointer;
}
#pulley > img {
    width: 30px;

  
}
.remind {
    animation-name: remind;
}

#cableContainer {
    background-color: var(--pastel-yellow);
    width: 1200px;
    height: 100%;
    align-items: center;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 160px;
    /* justify-content: space-between; */
    align-items: center;
    grid-gap: 30px;

    border: 3px solid black;
    border-top-left-radius: 20px; /* Half of the height */
    border-top-right-radius: 20px; /* Half of the height */
    padding: 20px;
    padding-bottom: 0;

    /* box-shadow: 0 0px 10px black; */
    overflow-x: auto;
}

.cableCell {
    width: 150px;
    height: 150px;
    position: relative; 

    border-radius: 20px;
    padding:10px;
    
    transition: all 0.1s ease-in-out; 
    transform-origin: center center;
    overflow: hidden;
}
.unused {
    background-color: var(--mint);
}
.used {
    background-color: var(--green);
}
.semi-used {
    background-color: var(--orange);
}
.cableCell:hover {
    transform: scale(1.07);
    border: 3px solid black;
}
.cableCell:active {
    transform: scale(1);
}

.cableCell > img {
    width: 100%;
    height: 80%;
}
.cable-slider {
    background-color: var(--teal);
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: -25%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .3s ease-in-out;
}
.cableCell:hover .cable-slider {
    bottom: 0;
}
.active {
    border: 5px solid var(--maroon) ;
    transform: scale(1.07);
}


/* 
/       UTILITY
*/
.no-margin {
    margin-bottom: 0;
}   
.invisible {
    display: none;
}

/* Animations */
@keyframes pullUp {
    0% {bottom: -226;}
    100% {bottom: 0;}
}
@keyframes return {
    0% {bottom: 0;}
    100% {bottom: -226;}
}
@keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes remind {
    0% {transform: rotate(0deg);}
    15% {transform: rotate(10deg);}
    30% {transform: rotate(-10deg);}
    55% {transform: rotate(10deg);}
    70% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg);}
    
}